* {
    margin: 20px;
}

.descript {
    color: red;
    font-family: monospace;
}

.ingredients {
    color: purple;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 3px;
    border-style:groove;
    border-color:cornflowerblue;
}

.steps {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    border: 2px;
    border-style: dashed;
    border-color: black;
}